/.project
/ForgeModLoader-client-*
/output-client.log
/output-server.log*
/liteconfig/liteloader.log
/resourcepacks/
/saves/
/stats/
/crash-reports/
/options.txt
/config/MyTown/data.db
/mods/1.6.4/
/mods/*.zip
/mods/*.jar
/mods/ruins_log.txt
/mods/resources/ruins/
/config/CustomSpawner/logs/
/Chocolate/Building/
/Chocolate/sounds/
/Chocolate/lang/
servers.dat

