# Configuration file

####################
# crafting
####################

crafting {
    B:"Armor Plating"=true
    B:"Potato Jetpack"=true

    # When enabled, most jetpacks are not directly craftable, but only by upgrading previous tiers.
    B:"Upgrading Recipes Only"=false
}


####################
# gui
####################

gui {
    B:"Enable energy HUD"=true
    B:"Hide Tuberous Jetpack warning"=false
    B:"Hold Shift for details"=true
    B:"Show exact amount of RF in energy HUD"=false
}


####################
# item
####################

item {
    I:components=31631
    I:jetpackArmoredTier1=31630
    I:jetpackArmoredTier2=31629
    I:jetpackArmoredTier3=31628
    I:jetpackArmoredTier4=31627
    I:jetpackCreative=31626
    I:jetpackTier0=31636
    I:jetpackTier1=31635
    I:jetpackTier2=31634
    I:jetpackTier3=31633
    I:jetpackTier4=31632
    I:particleCustomizers=31625
}


####################
# itemconfig
####################

itemconfig {
    B:"Enable jetpack particles"=true
    B:"Invert Hover Mode sneaking behavior"=false

    # Disabled by default because some mods like Morph cause problems with it, only enable if you know what you're doing
    B:"Mobs can use jetpacks when equipped"=false
}


